{% extends 'layout.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}

<div class="example-wrapper">
<h1> Mon compte </h1>

                    <li class="">
                        <a class="" href="{{ path('macollection') }}">Ma Collection</a>
                    </li>

                    <li class="">
                        <a href="{{ path('app_forgot_password_request') }}">Changer de mot de passe ?  </a>
                    </li>

                    <li class="">
                        <a class="" href="{{ path('admin_article_new') }}">Ajouter une pop</a>
                    </li>


</div>
{% endblock %}