{% extends 'layout.html.twig' %}

{% block title %}Categories
{% endblock %}

{% block content %}
	<h1>Collections</h1>
	{% for category in categories %}
		<div class="card-categ article">
			<img class="photo_coll" src="{{ asset('/images/'~category.image) }}">
			<h3>
				{{ category.title }}</h3>
			<a class="btn_show" href="{{ path('category_showFront', {'id': category.id}) }}">Voir la collection</a>
		</div>
	{% else %}
		<tr>
			<td colspan="4">no records found</td>
		</tr>
	{% endfor %}
{% endblock %}
