<nav class="nav-content">


    <div id="nav-top">
        <div id="nav-top-flex">
        <img id="nav-title-logo" src="images/logoplanete.png" alt="Logo-planete-MyPopLand">
        <a class="nav-title" href="/"> - MypopLand</a>
         <li class="nav-item-top">
                        <a id="nav-top-login" class="nav-link-top" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                        </br>
                    </li>
                    <li class="nav-item-top">
                        <a class="nav-link-top" href="{{ path('app_register') }}">Inscription</a>
                    </li>

        </div>            
    </div>    



            <div class="nav-bot" id="">
            <div id="nav-bot-flex">
                <ul class="">
                    <li class="nav-item-bot">
                        <a class="nav-link-bot" href="/">Accueil</a>
                    </li>

                    <li class="nav-item-bot">
                        <a class="nav-link-bot" href="{{ path('article_index') }}">Figurines</a>
                    </li>

                    <li class="nav-item-bot">
                        <a class="nav-link-bot" href="{{ path('category_index') }}">Collections</a>
                    </li>

                   
                </ul>
                <form class="nav-item-search">
                    <input class="" type="search" placeholder="Rechercher                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               " aria-label="Search" id="input_search">
<button class="" type="submit">🔍</button>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
                </form>
        </div>        
    </div>                                                                                                                          
</nav>
