<nav class="nav-content">
    <div id="nav-top">
        <a class="nav-title" href="/">MypopLand</a>
         <li class="nav-item">
                        <a class="nav-link-top" href="{{ path('app_login') }}">Login</a>
                    </li>
                        </br>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-top" href="{{ path('app_register') }}">register</a>
                    </li>
    </div>    
            <div class="nav-bot" id="">
                <ul class="">
                    <li class="">
                        <a class="nav-link-bot" href="/">Accueil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link-bot" href="{{ path('article_index') }}">Figurines</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link-bot" href="{{ path('category_index') }}">Collections</a>
                    </li>

                   
                </ul>
                <form class="">
                    <input class="" type="search" placeholder="Search" aria-label="Search" id="input_search">
                    <button class="" type="submit">Search</button>
                </form>
    </div>
</nav>
