{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block content %}
	<h1>
		Figurines
	</h1>

	
	<div class="card card-4">
		<img src="/images/pop2.jpeg">
        <p> Landry Mc </p>
	</div>
    <div class="card card-4">
		<img src="/images/pop2.jpeg">
        <p> Landry Mc </p>
	</div>
    <div class="card card-4">
		<img src="/images/pop2.jpeg">
        <p> Landry Mc </p>
	</div>



{% endblock %}
